@charset "UTF-8";
/* 文字コードの指定
------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i);
@font-face {
  font-family: 'en-font';
  src: url("../font/Dominik.ttf") format("truetype");
  src: url("../font/Dominik Thin.ttf") format("truetype");
}

/* ----------- */
/*     base    */
/* ----------- */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #333;
  font-family: 'en-font';
  line-height: 2;
}

img, svg {
  width: 100%;
  vertical-align: bottom;
  filter: drop-shadow(10px 10px 5px #064235);
}

a {
  text-decoration: none;
  display: inline-block;
}

.section-wrapper {
  padding: 60px 0;
  width: 100vw;
  position: relative;
}

.section-inner {
  padding: 0 30px;
  max-width: 1100px;
  margin: 0 auto;
}

.fadein {
  font-size: 8rem;
  font-weight: bold;
  opacity: .1;
  text-transform: uppercase;
  color: #ace5d6;
  position: absolute;
  z-index: 1;
  top: 13vh;
}

.fadein.txt-effect {
  animation: txtEffect 2s both;
}

@keyframes txtEffect {
  100% {
    opacity: .5;
    font-size: 10rem;
  }
}
@-webkit-keyframes txtEffect {
  100% {
    opacity: .5;
    font-size: 10rem;
  }
}
.fade-in {
  transition: all 2s;
  transform: translate(0, 100px);
  opacity: 0;
  font-size: 1.5rem;
}

.fade-in::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 95%;
  top: 25px;
  left: 15px;
  z-index: -1;
  -webkit-background-size: 30px 30px;
    -moz-background-size: 30px 30px;
    background-size: 30px 30px;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, #afafaf), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, #17a2ff), color-stop(0.75, #17a2ff), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg,#ace5d6 25%, transparent 25%, transparent 50%, #ace5d6 50%,#ace5d6 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg,#ace5d6 25%, transparent 25%, transparent 50%, #ace5d6 50%,#ace5d6 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(45deg, #ace5d6 25%, transparent 25%, transparent 50%, #ace5d6 50%,#ace5d6 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, #ace5d6 25%, transparent 25%, transparent 50%, #ace5d6 50%, #ace5d6 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg,#ace5d6 25%, transparent 25%, transparent 50%, #ace5d6 50%, #ace5d6 75%, transparent 75%, transparent);
}

.fade-in.in {
  transform: translate(0, 0);
  animation: in 2s both;
}

@keyframes in {
  100% {
    font-size: 2.3rem;
    opacity: 1;
  }
}
@-webkit-keyframes in {
  100% {
    font-size: 2.3rem;
    opacity: 1;
  }
}
.site-title {
  width: 8%;
  margin: 0 2%;
}

.site-title img {
  filter: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.sp-br {
  display: none;
}

/* 非表示 */
.is-hide {
  display: none;
}

/* ローディング画面をフェードアウト */
.fadeout-bg {
  transition-property: opacity;
  transition-delay: .9s;
  transition-duration: .8s;
  opacity: 0;
  pointer-events: none;
}

/* ローダーをフェードアウト */
.fadeout-loader {
  transition-property: opacity;
  transition-delay: .9s;
  transition-duration: .3s;
  opacity: 0;
  pointer-events: none;
}

/* ローディング画面 */
#loader-bg {
  background: #064235;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#loader {
  height: 120px;
  left: 50%;
  margin-left: -60px;
  margin-top: -60px;
  position: fixed;
  top: 50%;
  width: 120px;
}

#loader p {
  color: #fff;
  font-size: 15px;
  line-height: 1.4;
  text-align: center;
}

#loader img {
  display: inline-block;
  padding: 5%;
  width: 100px;
  border-radius: 50%;
  animation: LOGO-SCALE 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
  filter: none;
}

@keyframes LOGO-SCALE {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ----------- */
/*   header    */
/* ----------- */
.header {
  position: fixed;
  z-index: 10;
}

.header .header-inner {
  display: flex;
}

.header .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
}

.header .right .link-btn {
  overflow: hidden;
  padding-left: 40px;
}

.header .right .link-btn a {
  display: flex;
  width: 238px;
  height: 50px;
  padding: 0 0 0 30px;
  align-items: center;
  border: 1px solid #000;
  border-right: none;
  letter-spacing: .06em;
  line-height: 30px;
  overflow: hidden;
  position: relative;
  color: #000;
  font-size: 13px;
  font-weight: 700;
}

.header .right .link-btn a::before {
  top: 0;
  left: 0;
  position: absolute;
  content: ' ';
  width: 309px;
  height: 50px;
  background: #000;
  transform: translateX(-120%) skewX(63deg);
  transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  box-sizing: inherit;
  opacity: 0;
}

.header .right .link-btn a:hover {
  color: white;
  z-index: 3;
  opacity: 1;
}

.header .right .link-btn a:hover:before {
  transform: translateX(0);
  opacity: 1;
  z-index: -1;
}

.header .right .link-btn .btn-text {
  z-index: 3;
  padding-right: 5px;
}

.header .header-link .icon-item {
  text-align: right;
  margin-bottom: 5px;
}

.header .header-link .icon-item img {
  filter: none;
}

.header .header-link .icon-item a {
  width: 30px;
  height: 30px;
  justify-content: center;
  transition: transform 0.3s ease-out;
}

.header .header-link .icon-item a:hover {
  opacity: .5;
}

.header .header-link .header-nav .nav-list {
  display: flex;
}

.header .header-link .header-nav .nav-list .icon {
  display: none;
}

.header .header-link .header-nav .nav-item {
  margin-left: 20px;
}

.header .header-link .header-nav .nav-item a {
  color: #000;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

.header .header-link .header-nav .nav-item a span {
  width: 58px;
  height: 58px;
  background: url("https://www.millor.jp/assets/images/common/current.png");
  position: absolute;
  top: -15px;
  left: -5px;
}

.header .header-link .header-nav .nav-item:hover span, .header .header-link .header-nav .nav-item.active span {
  animation: round 0.25s steps(14) forwards;
  cursor: pointer;
}

@keyframes round {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -812px;
  }
}
 @-webkit-keyframes round {
      0%{
        background-position: 0 0;
      }
      100%{
        background-position: 0 -812px;
      }
    }
.header .header-link .header-nav.active {
  display: block;
}

.header .header-link .burger-btn {
  display: none;
}

/* ----------- */
/*      fv     */
/* ----------- */
.fv .kv-wrapper {
  height: 100vh;
}

.fv .kv-wrapper::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/0144.jpg);
  background-size: cover;
}

.fv .kv-wrapper .main-copy {
  font-size: 5rem;
  opacity: 1;
  transition: transform 1s;
  padding: 20% 15% 0;
}

.fv .kv-wrapper .main-copy .copy1 {
  height: 35vh;
}

.fv .kv-wrapper .main-copy .copy2 {
  text-align: right;
}

.fv .kv-wrapper .fadeout {
  opacity: 0;
  transition: 1s ease !important;
}

.fv .kv-wrapper .scroll {
  position: fixed;
  font-weight: bold;
  bottom: 40px;
  width: 100%;
  z-index: -1;
}

.fv .kv-wrapper .scroll .c-scroll {
  text-align: center;
  margin-top: 5%;
}

.fv .kv-wrapper .scroll .c-scroll .c-scroll-arrow-line {
  position: relative;
  display: block;
  width: 1px;
  height: 40px;
  margin: auto;
  overflow: hidden;
}

.fv .kv-wrapper .scroll .c-scroll .c-scroll-arrow-line:before {
  content: ' ';
  display: block;
  width: 1px;
  height: 40px;
  background: #000;
  animation: sdl 2.5s cubic-bezier(1, 0, 0, 1) infinite;
  border-style: solid;
}

.fv .kv-wrapper .scroll .c-scroll .c-scroll-arrow-top {
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid #000;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  margin: auto;
  animation: sdl 2.5s cubic-bezier(1, 0, 0, 1) infinite;
}

@keyframes sdl {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}
@-webkit-keyframes sdl {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
  }
/* ----------- */
/*   concept    */
/* ----------- */
.bg-white {
  background: #fff;
  padding-bottom: 0;
}

.bg-white .section-inner .img {
  width: 15%;
  margin-left: auto;
  transform: rotate(15deg);
}

.bg-white .section-inner .img img {
  filter: none;
}

.bg-white .section-inner .left {
  margin-left: 0;
  transform: rotate(-95deg);
}

.bg-white .flex {
  display: flex;
  margin-top: 30px;
}

.bg-white .flex .concept-img {
  width: 100%;
  height: 100%;
  padding: 2% 0;
  z-index: 2;
}

.bg-white .flex .concept-read {
  width: 50%;
  min-width: 350px;
  padding: 0 3%;
}

.bg-white .flex .concept-read p span {
  font-size: 3.5rem;
}

.bg-white .flex .concept-read .ja {
  font-family: "Playfair Display",serif;
}

.bg-white .flex .concept-read .en {
  font-weight: bold;
}

.bg-white .flex .concept-read .concept-text {
  font-size: 1.4rem;
}

.bg-white .flex .concept-read .concept-text .en {
  display: inline-block;
  margin-top: 15px;
  line-height: 1.5;
}

/* ----------- */
/*  philosophy  */
/* ----------- */
#philosophy {
  background: #fff;
  padding-top: 0;
}

#philosophy .philosophy {
  top: 7vh;
}

#philosophy .section-inner .img {
  width: 15%;
  margin-left: auto;
  transform: rotate(38deg);
}

#philosophy .section-inner .img img {
  filter: none;
}

#philosophy .flex {
  display: flex;
  margin-top: 60px;
  position: relative;
}

#philosophy .flex .flex-item {
  width: 50%;
  z-index: 3;
}

#philosophy .flex .flex-item .en-copy {
  font-size: 3.5rem;
  position: absolute;
  left: 15vw;
  top: 5vh;
}

#philosophy .flex .flex-item .ja-copy {
  position: absolute;
  bottom: 10vh;
  font-family: "Playfair Display",serif;
}

#philosophy .flex .flex-item .ja-copy::before {
  opacity: 0;
}

#philosophy .flex .flex-img {
  width: 80%;
  z-index: 2;
}

#philosophy .flex .flex-img::before {
  height: 100%;
}

/* ----------- */
/*    price    */
/* ----------- */
#price {
  background: #fff;
}

#price .price {
  top: 0;
}

#price .fb {
  display: flex;
  position: relative;
}

#price .fb .fb-item {
  width: 33%;
  margin: 3%;
  box-sizing: border-box;
}

#price .fb .fb-item .fb-img {
  width: 40%;
  margin-left: auto;
}

#price .fb .fb-item .fb-img img {
  filter: none;
}

#price .fb .fb-item hr {
  border: dashed 1px #000;
}

#price .fb .fb-item .li-text .text-item {
  font-family: "Playfair Display",serif;
  position: absolute;
  width: 30%;
  opacity: 1;
  transform: translate(0, 0);
  transition: all 1s;
  text-align: right;
  z-index: 5;
}

#price .fb .fb-item .li-text .text-item .text-item-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 15px;
  left: 15px;
  z-index: -1;
  -webkit-background-size: 30px 30px;
          -moz-background-size: 30px 30px;
          background-size: 30px 30px;
          background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, #afafaf), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, #17a2ff), color-stop(0.75, #17a2ff), color-stop(0.75, transparent), to(transparent));
          background-image: -webkit-linear-gradient(45deg,#ace5d6 25%, transparent 25%, transparent 50%, #ace5d6 50%,#ace5d6 75%, transparent 75%, transparent);
          background-image: -moz-linear-gradient(45deg,#ace5d6 25%, transparent 25%, transparent 50%, #ace5d6 50%,#ace5d6 75%, transparent 75%, transparent);
          background-image: -ms-linear-gradient(45deg, #ace5d6 25%, transparent 25%, transparent 50%, #ace5d6 50%,#ace5d6 75%, transparent 75%, transparent);
          background-image: -o-linear-gradient(45deg, #ace5d6 25%, transparent 25%, transparent 50%, #ace5d6 50%, #ace5d6 75%, transparent 75%, transparent);
          background-image: linear-gradient(45deg,#ace5d6 25%, transparent 25%, transparent 50%, #ace5d6 50%, #ace5d6 75%, transparent 75%, transparent);
      }

#price .fb .fb-item .li-text .text-item .text-item-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#price .fb .fb-item .li-text .tab_hidden {
  opacity: 0;
  transform: translate(-30px, 0);
  transition: all 1s;
}

#price .fb .img-list {
  margin-top: 50%;
}

#price .fb .img-list .img-item {
  position: absolute;
  opacity: 1;
  transform: translate(0, 0);
  transition: all 1s;
  z-index: 2;
}

#price .fb .img-list .img-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 15px;
  left: 15px;
  z-index: -1;
  background-size: 30px 30px;
  background-image: linear-gradient(45deg, #ace5d6 25%, transparent 25%, transparent 50%, #ace5d6 50%, #ace5d6 75%, transparent 75%, transparent);
}

#price .fb .img-list .img-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#price .fb .img-list .tab_hidden {
  opacity: 0;
  transform: translate(30px, 0);
  transition: all 1s;
}

#price .fb .menu-list {
  text-align: center;
}

#price .fb .menu-list p {
  font-weight: bold;
}

#price .fb .menu-list .menu-item {
  font-size: 5rem;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

#price .fb .menu-list .menu-item span {
  background: url("https://www.millor.jp/assets/images/common/current.png") no-repeat;
  width: 58px;
  height: 58px;
  display: inline-block;
  position: absolute;
  top: 30px;
  left: 40%;
}

@keyframes round {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -812px;
  }
}
@-webkit-keyframes round {
          0%{
            background-position: 0 0;
          }
          100%{
            background-position: 0 -812px;
          }
        }
#price .fb .menu-list .menu-item:hover span, #price .fb .menu-list .menu-item.active span {
  animation: round 0.25s steps(14) forwards;
  cursor: pointer;
}

/* ----------- */
/*    staff    */
/* ----------- */
#staff {
  padding-top: 120px;
  background: #fff;
}

#staff .section-inner {
  margin-left: 20%;
}

#staff .section-inner .img {
  width: 15%;
  margin-left: auto;
  transform: rotate(38deg);
}

#staff .section-inner .img img {
  filter: none;
}

#staff .section-inner .line {
  text-transform: uppercase;
  display: inline-block;
  transform: rotate(90deg);
  font-size: 13rem;
  position: absolute;
  left: -5vw;
}

#staff .section-inner .flex .flex-list {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

#staff .section-inner .flex .flex-list .left {
  width: 10%;
  margin-right: auto;
  transform: rotate(-25deg);
}

#staff .section-inner .flex .flex-list .flex-item {
  width: 25%;
  margin: 3%;
  filter: gray;
  filter: grayscale(1);
  transition: .3s;
}

#staff .section-inner .flex .flex-list .flex-item .fade-in::before {
  height: 100%;
  top: 10px;
  left: 12px;
}

#staff .section-inner .flex .flex-list .flex-item .flex-img {
  width: 100%;
  padding-top: 139.6%;
  position: relative;
  margin-bottom: 10px;
}

#staff .section-inner .flex .flex-list .flex-item .flex-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
}

#staff .section-inner .flex .flex-list .flex-item:hover {
  filter: none;
  filter: grayscale(0);
  transition: .3s;
}

/* ----------- */
/*    map     */
/* ----------- */
#map {
  background: white;
}

#map .flex {
  display: flex;
}

#map .flex img {
  filter: none;
}

#map .flex .map, #map .flex .access {
  width: 50%;
  font-size: 1.5rem;
}

#map .flex .access {
  margin: auto 0;
  padding: 30px 0;
  background: #064235;
  color: #fff;
}

#map .flex .access table {
  margin: 0 auto;
}

#map .flex .access table tr th, #map .flex .access table tr td {
  vertical-align: top;
  text-align: left;
  padding: 3%;
  letter-spacing: .06em;
  font-weight: bold;
}

#map .flex .access table tr th p, #map .flex .access table tr td p {
  font-family: "Playfair Display",serif;
}

/* ------------ */
/*    footer    */
/* ------------ */
footer {
  text-align: center;
  background: #333;
  color: white;
  padding: 30px 0;
}

@media (max-width: 1023px) {
  .fadein {
    top: 9vh;
  }
  #philosophy .philosophy {
    top: 11vh;
  }
  #price .price {
    top: -3vh;
  }
  #price .fb .menu-list .menu-item {
    font-size: 4rem;
  }
  #price .fb .menu-list .menu-item span {
    left: 40%;
    top: 10px;
  }
}

/* ----------- */
/*   base-tb   */
/* ----------- */
@media (max-width: 768px) {
  body {
    font-size: 1.4rem;
  }
  .site-title {
    width: 80px;
    margin: 0 2%;
  }
  .fadein {
    margin-bottom: 0;
    font-size: 4rem;
    top: 10vh;
  }
  @keyframes txtEffect {
    100% {
      opacity: .5;
      font-size: 7rem;
    }
  }
  @-webkit-keyframes txtEffect {
  100% {
    opacity: .5;
    font-size: 10rem;
  }
}
  .fade-in {
    transform: translate(0, 50px);
    font-size: 1rem;
    position: relative;
  }
  @keyframes in {
    100% {
      font-size: 1.4rem;
      opacity: 1;
    }
  }
  @-webkit-keyframes in {
  100% {
    font-size: 1.4rem;
    opacity: 1;
  }
}
  /* -----------   */
  /*   header-tb   */
  /* -----------   */
  .header {
    height: 80px;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 8px 0px;
  }
  .header .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .right {
    width: 90vw;
  }
  .header .right .header-link .icon-item {
    display: none;
  }
  .header .right .header-link .header-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
  }
  .header .right .header-link .nav-list {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header .right .header-link .nav-list .icon {
    display: block;
    width: 4%;
  }
  .header .right .header-link .nav-list .icon:hover, .header .right .header-link .nav-list .icon:active {
    opacity: .5;
  }
  .header .right .header-link .nav-list .icon img {
    filter: none;
  }
  .header .right .header-link .nav-list .nav-item {
    margin: 0 0 30px;
  }
  .header .right .header-link .nav-list .nav-item a {
    font-size: 2rem;
    text-align: center;
  }
  .header .right .header-link .nav-list .nav-item:active span {
    animation: round 0.25s steps(14) forwards;
  }
  .header .right .header-link .nav-list .nav-item:last-of-type {
    margin-bottom: 0;
  }
  .header .right .header-link .burger-btn {
    display: block;
    position: fixed;
    z-index: 3;
    top: 30px;
    right: 5vw;
  }
  .header .right .header-link .burger-btn .menu {
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
    margin-right: 5px;
    position: absolute;
    top: 3px;
    right: 4vw;
  }
  .header .right .header-link .burger-btn .bar {
    display: block;
    height: 2px;
    width: 22px;
    background-color: #333;
    border-radius: 1px;
    transition: .3s;
  }
  .header .right .header-link .burger-btn .bar_top,
  .header .right .header-link .burger-btn .bar_mid {
    margin-bottom: 5px;
  }
  .header .right .header-link .burger-btn.cross .bar_top {
    transform: rotate(45deg) translate(6px, 6px);
    transition: .3s;
  }
  .header .right .header-link .burger-btn.cross .bar_mid {
    opacity: 0;
    transition: .3s;
  }
  .header .right .header-link .burger-btn.cross .bar_bottom {
    transform: rotate(-45deg) translate(4px, -4px);
    transition: .3s;
  }
  .header .right .header-link .burger-btn.cross .link-btn {
    width: 100%;
  }
  .header .right .link-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    background: #000;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  .header .right .link-btn a {
    color: white;
  }
  /* ----------- */
  /*   fv-tb    */
  /* ----------- */
  .fv .kv-wrapper::before {
    background-size: auto 90%;
  }
  .fv .kv-wrapper .main-copy {
    padding: 60% 10% 0;
  }
  .fv .kv-wrapper .main-copy .copy1 {
    height: 20vh;
  }
  .fv .kv-wrapper .scroll {
    bottom: 60px;
  }
  /* ----------- */
  /*   concept-tb    */
  /* ----------- */
  .bg-white .flex {
    flex-direction: column;
    position: unset;
  }
  .bg-white .flex .concept-img {
    width: 80%;
  }
  .bg-white .flex .concept-read {
    width: 80%;
    position: unset;
    margin-left: auto;
    box-sizing: border-box;
  }
  .bg-white .flex .concept-read p span {
    font-size: 3rem;
  }
  /* ----------- */
  /*  philosophy-tb  */
  /* ----------- */
  #philosophy .philosophy {
    top: 5vh;
  }
  #philosophy .flex {
    display: block;
    margin-top: 0;
    z-index: 2;
  }
  #philosophy .flex .flex-item {
    width: 100%;
  }
  #philosophy .flex .flex-item p {
    color: black;
    background: rgba(255, 255, 255, 0.5);
    padding: 0 1%;
    z-index: 3;
  }
  #philosophy .flex .flex-item .en-copy {
    right: 0;
    text-align: center;
    font-size: 3rem;
  }
  #philosophy .flex .flex-item .ja-copy {
    left: 0;
  }
  #philosophy .flex .flex-img {
    width: 100%;
  }
  /* ----------- */
  /*  price-tb  */
  /* ----------- */
  #price .price {
    top: -4vh;
  }
  #price .fb {
    flex-wrap: wrap-reverse;
  }
  #price .fb .img-list {
    margin-top: 0;
  }
  #price .fb .img-list .tab_hidden {
    transform: translate(-30px, 0);
  }
  #price .fb .img-list .img-item {
    width: 100%;
  }
  #price .fb .img-list .img-item::before {
    width: 100%;
    height: 300px;
  }
  #price .fb .img-list .img-item img {
    object-fit: cover;
    width: 100%;
    height: 300px;
  }
  #price .fb .fb-item {
    width: 42%;
  }
  #price .fb .fb-item .scissors {
    width: 20%;
    margin-left: auto;
    position: absolute;
    right: 0;
  }
  #price .fb .fb-item .li-text .text-item {
    top: 325px;
    width: 40%;
  }
  #price .fb .fb-item .li-text .text-item .text-item-img img {
    max-height: 300px;
  }
  /* ----------- */
  /*  staff-tb  */
  /* ----------- */
  #staff {
    padding-top: 25%;
  }
  #staff .section-inner .line {
    font-size: 9rem;
    left: -10vw;
    margin-top: 5%;
  }
  #staff .section-inner .flex .flex-list .flex-item {
    width: 40%;
    filter: none;
  }
  /* --------------- */
  /*      map-tb     */
  /* --------------- */
  #map .flex {
    flex-direction: column;
  }
  #map .flex .map, #map .flex .access {
    width: 90%;
    margin: 0 auto;
  }
  /* --------------- */
  /*    footer-tb    */
  /* --------------- */
  footer {
    padding: 60px 0;
  }
}

/* ----------- */
/*   base-sp   */
/* ----------- */
@media (max-width: 480px) {
  .fadein {
    margin-bottom: 0;
    font-size: 1rem;
  }
  @keyframes txtEffect {
    100% {
      opacity: .5;
      font-size: 4rem;
    }
  }
  @-webkit-keyframes txtEffect {
    100% {
      opacity: .5;
      font-size: 4rem;
    }
  }
  /* ----------- */
  /*  header-sp   */
  /* ----------- */
  .header .right .header-link .burger-btn .menu {
    right: 7vw;
  }
  .header .right .header-link .nav-list .icon {
    width: 7%;
  }
  /* ----------- */
  /*    fv-sp    */
  /* ----------- */
  .fv .kv-wrapper {
    padding: 0 30px;
  }
  .fv .kv-wrapper .main-copy {
    font-size: 4rem;
    padding: 35% 0;
  }
  .fv .kv-wrapper .main-copy .copy1 {
    height: 40vh;
  }
  /* ------------- */
  /*  concept-sp   */
  /* ------------- */
  .bg-white {
    padding-bottom: 0;
  }
  .bg-white .flex .concept-img {
    width: 100%;
  }
  .bg-white .flex .concept-read {
    min-width: 260px;
    width: 100%;
    margin: 2% auto;
    box-sizing: border-box;
  }
  .bg-white .flex .concept-read p span {
    font-size: 2rem;
  }
  /* --------------- */
  /*  philosophy-sp  */
  /* --------------- */
  #philosophy .flex {
    display: block;
    margin-top: 0;
  }
  #philosophy .flex .flex-item {
    width: 100%;
  }
  #philosophy .flex .flex-item .en-copy {
    font-size: 2rem;
  }
  #philosophy .flex .flex-item .ja-copy {
    bottom: 3vh;
  }
  #philosophy .flex .flex-item .ja-copy .sp-br {
    display: block;
  }
  #philosophy .flex .flex-item .ja-copy span {
    margin-left: 100px;
  }
  #philosophy .flex .flex-img {
    width: 100%;
  }
  /* ----------- */
  /*   price-sp  */
  /* ----------- */
  #price .price {
    top: 1vh;
  }
  #price .fb .menu-list .menu-item {
    font-size: 2.5rem;
  }
  #price .fb .menu-list .menu-item span {
    left: 33%;
    top: 4px;
  }
  #price .fb .fb-item .li-text .text-item {
    top: 170px;
  }
  #price .fb .fb-item .li-text .text-item .text-item-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 200px;
  }
  #price .fb .fb-item .li-text .text-item p {
    font-size: 1.2rem;
  }
  #price .fb .img-list .img-item::before {
    height: 100%;
  }
  #price .fb .img-list .img-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 150px;
  }
  /* ----------- */
  /*   staff-sp  */
  /* ----------- */
  #staff {
    padding-top: 30%;
  }
  #staff .section-inner {
    margin-left: 15%;
  }
  #staff .section-inner .line {
    font-size: 6rem;
    margin-top: 0;
  }
}
/*# sourceMappingURL=style.css.map */
