/* 文字コードの指定
------------------------------------------------------------*/
@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i);

/* ----------- */
/*     base    */
/* ----------- */

html{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  color: #333;
  font-family: "Playfair Display",serif;
  line-height: 2;
}
img,svg{
  width: 100%;
  vertical-align: bottom;
}
a{
  text-decoration: none;
  display: inline-block;
}
.section-wrapper {
  padding: 60px 0;
}
.section-inner{
  padding: 0 30px;
  max-width: 1100px;
  margin: 0 auto;
}
.section-title{
  text-transform: uppercase;
  font-size: 5rem;
  text-align: center;
}
.fadein{
  text-align: center;
  font-size: 8rem;
  font-weight: bold;
  opacity: .1;
  text-transform: uppercase;
  color: #ace5d6;
  
} 

.fadein.txt-effect {
  animation: txtEffect 2s both;
}
@keyframes txtEffect {
  100% {
    opacity: .5;
    font-size: 10rem;
  }
}
@-webkit-keyframes txtEffect {
  100% {
    opacity: .5;
    font-size: 10rem;
  }
}
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
.sp-br{
  display: none;
}
/* ----------- */
/*   header    */
/* ----------- */
.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  .heder-inner{
    display: flex;
  }

  
 .right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  .link-btn{
    overflow: hidden;
    padding-left: 40px;
    
    a{
      display: flex;
      width: 238px;
      height: 50px;
      padding: 0 0 0 30px;
      align-items: center;
      border: 1px solid #000;
      border-right: none;
      letter-spacing: .06em;
      line-height: 30px;
      overflow: hidden;
      position: relative;
      color: #000;
      font-size: 13px;
      font-weight: 700;
      &::before{
        top: 0;
        left: 0;
        position: absolute;
        content: ' ';
        width: 309px;
        height: 50px;
        background: #000;
        transform: translateX(-120%) skewX(63deg);
        transition: .4s cubic-bezier(.23,1,.32,1);
        box-sizing: inherit;
        opacity: 0;
      }
      &:hover {
        color: white;
        z-index: 3;
        opacity: 1;
    
        &:before {
          transform: translateX(0);
          opacity: 1;
          z-index: -1;
        }
      }
    }
    .btn-text{
      z-index: 3;
      padding-right: 5px;
    }
   }

  }
 .header-link{
      
    .icon-list{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .icon-item{
        margin-left: 20px;
      }
      a{
        width: 30px;
        height: 30px;
        justify-content: center;
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        transition: transform 0.3s ease-out;
        &:hover{
          transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
          opacity: 1;
          
        }
      }
    }
    .header-nav{
      .nav-list{
      display: flex;
        }
      .nav-item{
        margin-left: 20px;         
        a{
          color: #000;
          font-size: 13px;
          font-weight: 700;
          text-transform: uppercase;
          position: relative;
          span{
            width: 58px;
            height: 58px;
            background: url('https://www.millor.jp/assets/images/common/current.png');
            position: absolute;
            top: -15px;
            left: -5px;
          }
          }
          &:hover{
            span{
            animation: round .25s steps(14) forwards;
           }
          }
          
      }
    }
    @keyframes round {
      0%{
        background-position: 0 0;
      }
      100%{
        background-position: 0 -812px;
      }
    }
    @-webkit-keyframes round {
      0%{
        background-position: 0 0;
      }
      100%{
        background-position: 0 -812px;
      }
    }
    .burger-btn{
      display: none;
    }    
  }
}

/* ----------- */
/*      fv     */
/* ----------- */
.fv{
  .kv-wrapper{
    background-image: url('../images/0144.jpg');
    min-height: 100%;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    -webkit-background-size: cover !important; 
    -moz-background-size: cover !important; 
    -o-background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0 50px;
    box-sizing: border-box;
    line-height: 1.5;   
    position: relative;
    .main-copy{
      font-size: 5rem;
      opacity: 1;
      transition: transform 1s;
      padding: 20% 15% 0;
      .copy1{
        height: 50vh;
      }
      .copy2{
        text-align: right;
      } 
  }
  .fadeout{
    opacity: 0;
    transform: translate(0,10px) scale(1.02) rotate(-2deg);
    transition: 1s ease!important;
   
  }
}
}


/* ----------- */
/*   concept    */
/* ----------- */
.bg-white{
  background: #fff;
  .flex{
    display: flex;
    margin-top: 30px;
    position: relative;
    .concept-img{
      width: 50%;
    }
    .concept-read{
      width: 50%;
      min-width: 450px;
      position: absolute;
      right: 1vw;
      top: 3vh;
      background: whitesmoke;
      padding: 3%;
      p span{
        font-size: 3.5rem;
      }
    
    .concept-text{
      font-size: 1.4rem;
      .en{
        display: inline-block;
        margin-top: 15px;
        line-height: 1.5;
      }
    }
  }
    
  }
 }
/* ----------- */
/*  philosophy  */
/* ----------- */
#philosophy{
  margin-top: 120px;
  .flex{
    display: flex;
    margin-top: 60px;
    position: relative;
    .flex-item{
      width: 50%;
    .en-copy{
      font-size: 3.5rem;
      position: absolute;
      left: 15vw;
      top: 5vh;
    }  
    .ja-copy{
      position: absolute;
      bottom: 10vh;
    }
    }
    .flex-img{
      width: 80%;
    }
  }

 .c-scroll{
  text-align: center;
  margin-top: 5%;

.c-scroll-arrow-line {
position: relative;
display: block;
width: 1px;
height: 40px;
margin: auto;
overflow: hidden;
}
.c-scroll-arrow-line:before {
content: ' ';
display: block;
width: 1px;
height: 40px;
background: #000;
animation: sdl 2.5s cubic-bezier(1, 0, 0, 1) infinite;
border-style: solid;

}
.c-scroll-arrow-top {
display: block;
width: 0;
height: 0;
border-top: 5px solid #000;
border-left: 3px solid transparent;
border-right: 3px solid transparent;
margin: auto;
animation: sdl 2.5s cubic-bezier(1, 0, 0, 1) infinite;
}
@keyframes sdl {
0% {
  transform: scale(1, 0);
  transform-origin: 0 0;
}
50% {
  transform: scale(1, 1);
  transform-origin: 0 0;
}
50.1% {
  transform: scale(1, 1);
  transform-origin: 0 100%;
}
100% {
  transform: scale(1, 0);
  transform-origin: 0 100%;
}
}
@-webkit-keyframes sdl {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
  }
}
}

/* ----------- */
/*    price    */
/* ----------- */
#price{
  .fb{
    display: flex;
    position: relative;
    
    .fb-item{
      width: 33%;
      margin: 3%;
      box-sizing: border-box;
      .fb-img{
        width: 40%;
        margin-left: auto;
      }
      hr{
        border: dashed 1px #000;
      }
      

    .li-text{
      .text-item{
        position: absolute;
        width: 30%;
        opacity: 1;
        transform: translate(0, 0);
        transition: all 1s;
        text-align: right;
      }
      .tab_hidden{
        opacity: 0;
        transform: translate(-30px, 0);
        transition: all 1s;
      }
    }
  }
    .img-list{
      margin-top: 50%;
      .img-item{
        position: absolute;
        width: 30%;
        opacity: 1;
        transform: translate(0, 0);
        transition: all 1s;
      }
      .tab_hidden{
        opacity: 0;
        transform: translate(30px, 0);
        transition: all 1s;
      }
    }
  .menu-list{
    text-align: center;
    position: relative;
    p{
      font-weight: bold;
        
    }
    .menu-item{
       font-size: 5rem;
        cursor: pointer;
        text-decoration: none;
        color: black;
        span{
          background: url('https://www.millor.jp/assets/images/common/current.png')no-repeat;
          width: 58px;
          height: 58px;
          display: inline-block;
          position: absolute;
          top: 60px;
          left: 120px;
        }
          .color{
            top: 160px;
          }
          .perm{
            top: 260px
          }
          .headspa{
            top: 360px;
          }
          .treatment{
            top: 460px;
          }

        
        &:hover{
          span{
            animation: round .25s steps(14) forwards;
          }
         }
         @keyframes round {
          0%{
            background-position: 0 0;
          }
          100%{
            background-position: 0 -812px;
          }
        }
        @-webkit-keyframes round {
          0%{
            background-position: 0 0;
          }
          100%{
            background-position: 0 -812px;
          }
        }
        
        
      }
    }
    
  }
}



/* ----------- */
/*    staff    */
/* ----------- */
#staff{
  padding-top: 180px;
  .section-inner{
    margin-left: 20%;
  
  .line{
    text-transform: uppercase;
    display: inline-block;
    transform: rotate(90deg);
    font-size: 13rem;
    position: absolute;
    left: -5vw;
  }
  .flex{
    .flex-list{
      display: flex;
      flex-wrap: wrap;
      cursor: pointer;
    
    .flex-item{
      width: 25%;
      margin: 3%;
      -webkit-filter: grayscale(1);
      filter: gray;
      filter: grayscale(1);
      transition: .3s;
      .flex-img{
        width: 100%;
        padding-top: 139.6%;
        position: relative;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
        }
      }
      &:hover{
        -webkit-filter: grayscale(0);
      filter: none;
      filter: grayscale(0);
      transition: .3s;


      }

    }
  }
  }
}
}

/* ----------- */
/*   base-tb   */
/* ----------- */

@media (max-width: 768px){
  body{
    font-size: 1.4rem;
  }
.fadein{
  margin-bottom: 0;
  font-size: 4rem;
} 
@keyframes txtEffect {
  100% {
    opacity: .5;
    font-size: 7rem;
  }
}
@-webkit-keyframes txtEffect {
  100% {
    opacity: .5;
    font-size: 10rem;
  }
}

/* -----------   */
/*   header-tb   */
/* -----------   */

    .header{
      height: 80px;
      width: 100%;
      background: rgba(255,255,255,.9);
      box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 8px 0px;
      .header-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        }
      .right{
         width: 90vw;
          .header-link{
            .header-nav{
              display: none;
              position: fixed;
              top: 0;
              left: 0;
              width: 100%;
              height: 100vh;
              background-color: white;
            }
            .nav-list{
              height: 100%;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }
            .nav-item{
              margin: 0 0 30px;
              a{
                font-size: 2rem;
                text-align: center;
              }
              &:active{
                span{
                animation: round .25s steps(14) forwards;
               }
              }
            }
            .nav-item:last-of-type{
              margin-bottom: 0;
            }
            .burger-btn{
              display: block;
              position: fixed;
              z-index: 3;
              top: 30px;
              right: 5vw;

              .menu{
                 display: block;
                 font-size: 1rem;
                 font-family: "Playfair Display",serif;
                 text-transform: uppercase;
                 color: #333;
                 font-weight: bold;
                 margin-right: 5px;
                 position: absolute;
                 top: 3px;
                 right: 4vw;
              }
              .bar{
              display: block;
              height: 2px;
              width: 22px;
              background-color: #333;
              border-radius: 1px;
              transition: .3s;
            }
            .bar_top,
            .bar_mid{
              margin-bottom: 5px;
            }
          }
          .burger-btn.cross .bar_top{
            transform: rotate(45deg) translate(6px,6px);
            transition: .3s;
          }
          .burger-btn.cross .bar_mid{
            opacity: 0;
            transition: .3s;
          }
          .burger-btn.cross .bar_bottom{
            transform: rotate(-45deg) translate(4px,-4px);
            transition: .3s;
          }
          
             
            
        }
      .link-btn{
        position: fixed;
        bottom: 0;
        right: 0;
        background: #000;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        a{
          color: white;
        }
        
      }
    }
  }

/* ----------- */
/*   fv-tb    */
/* ----------- */
.fv{
  .kv-wrapper{
    .main-copy{
      padding: 70% 15% 0;
    .copy1{
      height: 20vh;
    }
   }
  }
}

/* ----------- */
/*   concept-tb    */
/* ----------- */
.section-title{
  font-size: 4rem;
}
.bg-white {
  .flex{
    flex-direction: column;
    position: unset;
    .concept-img {
           width: 80%;
         }
    .concept-read{
      width: 80%;
      position: unset;
      margin-left: auto;
      box-sizing: border-box;
      p{
        span{
          font-size: 3rem;
        }
      }
    }
      }
    } 

/* ----------- */
/*  philosophy-tb  */
/* ----------- */
#philosophy{
  margin-top: 0;
  padding-top: 0;
    .flex{
      display: block;
      margin-top: 0;
    .flex-item{
      width: 100%;
      p{
        color: black;
        background: rgba(255,255,255,.5);
        padding: 0 1%;
      }

      .en-copy{
        right: 0;
        text-align: center;
        font-size: 3rem;
       }
       .ja-copy {
        left: 0;
    }
      }
    .flex-img{
      width: 100%;
    }
    }
    }
    .c-scroll{
      margin-top: 10%;
    }
 

/* ----------- */
/*  price-tb  */
/* ----------- */
#price{
  .fb{
    flex-wrap: wrap-reverse;
    .menu-list{
      .menu-item{
        font-size: 4rem;
        span{
          left: 13vw;
        }
        .color{
          top: 120px;
        }
        .perm{
          top: 210px
        }
        .headspa{
          top: 290px;
        }
        .treatment{
          top: 360px;
        }

      }
    }
    .img-list{
      margin-top: 0;
      .img-item{
        width: 40%;
      }
    }
    .fb-item{
      width: 40%;
      .fb-img {
        width: 20%;
        margin-left: auto;
        position: absolute;
        right: 0;
         }
      .li-text {
        .text-item {
          width: 40%;
          margin-top: 20%;
          }
        }
      }
    }
    }

/* ----------- */
/*  staff-tb  */
/* ----------- */
#staff{
  padding-top: 32%;
  .section-inner{
    .line{
      font-size: 9rem;
      left: -10vw;
    }
    .flex{
      .flex-list{
        .flex-item{
          width: 40%;
          -webkit-filter: none;
          filter: none;
          
        }
      }
    }
  }
}
 }

/* ----------- */
/*   base-sp   */
/* ----------- */

@media (max-width: 480px){
  .fadein{
    margin-bottom: 0;
    font-size: 1rem;
  } 
  @keyframes txtEffect {
    100% {
      opacity: .5;
      font-size: 4rem;
    }
  }
  @-webkit-keyframes txtEffect {
    100% {
      opacity: .5;
      font-size: 4rem;
    }
  }

/* ----------- */
/*  header-sp   */
/* ----------- */
  .header {
    .right {
      .header-link{
        .burger-btn{
          .menu{
            right: 7vw;
          }
        }
        }
      }
    }

/* ----------- */
/*    fv-sp    */
/* ----------- */

    .fv {
      .kv-wrapper {
        padding: 0 30px;
        .main-copy{
          font-size: 4rem;
          padding: 35% 0;
          .copy1{
            height: 50vh;
          }
        }
      }
    }

/* ------------- */
/*  concept-sp   */
/* ------------- */
.bg-white {
  .flex{
    .concept-img{
      width: 100%;
    }
    .concept-read {
      min-width: 260px;
      width: 100%;
      margin: 2% auto;
      box-sizing: border-box;
      p{
        span{
          font-size: 2rem;
        }
      }
    }
  }
} 


/* --------------- */
/*  philosophy-sp  */
/* --------------- */
#philosophy{
  .flex{
    display: block;
    margin-top: 0;
    .flex-item{
      width: 100%;
      .en-copy{
        font-size: 2rem;
      }
      .ja-copy{
        bottom: 3vh;
        .sp-br{
          display: block;
        }
        span{
          margin-left: 100px;
        }
      }
    }
    .flex-img{
      width: 100%;
    }
  }
  
}

/* ----------- */
/*   price-sp  */
/* ----------- */
#price {
  padding-top: 0;
  margin-bottom: 100px;
  .section-inner{
    padding: 0;
  }
  .fb {
  .menu-list {
    .menu-item {
      font-size: 3rem;
      .cut{
        top: 35px;
      }
      .color{
        top: 100px;
      }
      .perm{
        top: 160px
      }
      .headspa{
        top: 210px;
      }
      .treatment{
        top: 275px;
      }
    }
   }
 }
}

/* ----------- */
/*   staff-sp  */
/* ----------- */
#staff {
  .section-inner{
    margin-left: 15%;
    .line {
         font-size: 6rem;
        }
       }
    } 
}